/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ensure body and html take up full height */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column; /* Stack the content vertically */
}

/* Main content area */
.main-content {
    flex-grow: 1; /* This ensures that the content area grows to fill available space */
}

/* Footer styles */
.footer {
    background-color: #f8f7f1;
    color: #333;
    font-family: 'Playfair Display', serif;
    padding: 40px 20px;
    border-top: 1px solid #000;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-company-name h3 {
    font-size: 28px;
    font-weight: 600;
    color: #000;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer-socials {
    display: flex;
    gap: 20px;
}

.social-icon {
    color: #000;
    font-size: 24px;
    transition: all 0.3s ease;
}

.social-icon:hover {
    color: #F5F5DC;
    transform: scale(1.1);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
    border-top: 1px solid #f8f7f1;
    padding-top: 20px;
}

.footer-bottom p {
    margin-top: 10px;
}
